<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="homepage.css" rel="stylesheet">
</head>
<body>
    <p>You've successfully signed in!</p>
</body>
</html>