<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <!-- Custom styles for this template -->
    <link href="assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="sign-in.css" rel="stylesheet">
  </head>
  <body class="d-flex align-items-center py-4">
    <main class="form-signin w-100 m-auto">

      <!-- navbar -->
      <header>
        <div>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link fw-bold py-1 px-0" href="/register">Register</a>
          </nav>
        </div>
      </header>

      <!-- login form -->
      <form action="/login" method="POST">
  
        <h1 class="h3 mb-3 fw-normal text-white">Sign in now!</h1>

        <div class="form-floating">
          <input id="username" name="username" type="text" class="form-control" id="floatingInput" placeholder="Username" autocomplete="off" required>
          <label>Username</label>
        </div>

        <div class="form-floating">
          <input id="password" name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" autocomplete="off" required>
          <label>Password</label>
        </div>

        <br>
        <button class="btn btn-secondary w-100 py-2 bg-secondary" type="submit">Login</button>
    
      </form>
      <!-- success/failure notice -->
      <p class="text-white">
        <% if (message) { %>
          <%= message %>
        <% } %>
      </p>

    </main>
    <script src="assets/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
