<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <link rel="icon" type="image/png" href="images/icn.jpg">
</head>
<body>
  <h1>Welcome to Your Profile, <%= user.username %>!</h1>
</body>
</html>